.card {
    min-height: 100%;
}


.item-body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttons-container {
    margin: 0 auto;
    margin-top: auto;
}

.buttons-block {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1rem;
}


