.page-nosotros-container {
    display: flex;
    margin: 3rem 7rem;
}

h2 {
    padding-bottom: 2rem;
}

.nosotros-txt {
    text-align: left;
}

.fundadores-img {
    margin: 4rem 0 4rem 2rem;
}

.espacio-img {
    display: flex;
    justify-content: space-between;
}

.img-item {
    width: 33%;
}